@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;700&display=swap");
.student {
  font-family: "Raleway", sans-serif;
  display: flex;
  border: 0.5px;
  border-bottom-style: solid;
  border-color: #d3d3d33b;
  padding-bottom: 10px;
}

.nameAndSign {
  display: flex;
  flex-direction: row;
  width: 460px;
  justify-content: space-between;
}

.fullName {
  margin-top: 2vh;
  margin-bottom: 1vh;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
}

.studentPic {
  border-radius: 50%;
  box-shadow: 0 0 0 1px #d3d3d33b;
  width: 70px;
  height: 70px;
  margin-top: 4vh;
  margin-left: 3vh;
  margin-right: 3vh;
  margin-bottom: 2vh;
}

.studentInfoBox {
  font-family: "Raleway", sans-serif;
  margin-left: 12px;
  font-weight: 100;
  font-size: 10px;
  color: black;
}

.gradeTable {
  margin-top: 8px;
  margin-right: -3px;
  margin-bottom: -3px;
  margin-left: -3px;
}

.accordion {
  border: none;
  background: none;
  margin-top: 8px;
  align-content: right;
  color: #80808059;
}
